@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F0F0F;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #0F0F0F;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
